{% extends "_chrome.html" %}
{% block content %}
<table class="panel" cellpadding="4" cellspacing="0" width="640">
  <tr><td class="panelhdr" colspan="4">Member Detail</td></tr>
  <tr>
    <td align="right" width="130"><font size="1">Member Number</font></td>
    <td><b>{{ member.member_id }}</b></td>
    <td align="right" width="90"><font size="1">Status</font></td>
    <td>{{ member.status }}</td>
  </tr>
  <tr>
    <td align="right"><font size="1">Name</font></td>
    <td>{{ member.name }}</td>
    <td align="right"><font size="1">Branch</font></td>
    <td>{{ member.branch }}</td>
  </tr>
  <tr>
    <td align="right"><font size="1">Member Since</font></td>
    <td colspan="3">{{ member.joined }}</td>
  </tr>
</table>

{# The extraction target. A labelled summary row like this is common in these
   applications and is far more stable than reaching into the grid below, which
   reorders its columns between tenant configurations. #}
<table class="panel" cellpadding="4" cellspacing="0" width="640">
  <tr><td class="panelhdr" colspan="2">Balance Summary</td></tr>
  <tr>
    <td align="right" width="200"><font size="1">{{ t.balance_label }}</font></td>
    <td><b>${{ member.savings_balance }}</b></td>
  </tr>
  <tr>
    <td align="right"><font size="1">Accounts On File</font></td>
    <td>{{ member.accounts|length }}</td>
  </tr>
</table>

<table class="panel" cellpadding="4" cellspacing="0" width="640">
  <tr><td class="panelhdr" colspan="4">Accounts</td></tr>
  <tr style="background:#e8ecf0">
    {% if t.accounts_columns_reversed %}
    <td><b>Balance</b></td><td><b>Account No.</b></td><td><b>Type</b></td><td><b>Opened</b></td>
    {% else %}
    <td><b>Type</b></td><td><b>Account No.</b></td><td><b>Balance</b></td><td><b>Opened</b></td>
    {% endif %}
  </tr>
  {% for a in member.accounts %}
  <tr>
    {% if t.accounts_columns_reversed %}
    <td>${{ a.balance }}</td><td>{{ a.number }}</td><td>{{ a.kind }}</td><td>{{ a.opened }}</td>
    {% else %}
    <td>{{ a.kind }}</td><td>{{ a.number }}</td><td>${{ a.balance }}</td><td>{{ a.opened }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<table width="640" cellpadding="4"><tr><td>
  <a href="/subaccount/new?member={{ member.member_id }}">{{ t.open_subaccount_link }}</a>
  &nbsp;|&nbsp; <a href="/search">Back to Search</a>
</td></tr></table>
{% endblock %}
