{% extends "_chrome.html" %}
{% block status %}Acknowledgement required{% endblock %}
{% block content %}
{# An interstitial that appears when it feels like it. Recoverable: dismiss and
   carry on. Automation that does not expect it acts on the wrong page. #}
<table cellpadding="0" cellspacing="0" border="0" width="480">
  <tr><td class="caption">System Notice</td></tr>
  <tr><td class="raised" style="padding:10px;">
    <div class="msgwarn">
      Scheduled maintenance is planned for this weekend. Servicing functions
      remain available.
    </div>
    <br>
    <form method="post" action="/notice/dismiss">
      <input type="hidden" name="next_url" value="{{ next_url }}">
      <input type="submit" id="{{ gid('btn') }}" value="Acknowledge">
    </form>
  </td></tr>
</table>
{% endblock %}
