{% extends "_chrome.html" %}
{% block status %}Enter search criteria and press {{ t.search_button }}{% endblock %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="560">
  <tr><td class="caption">Member Search</td></tr>
  <tr><td class="raised" style="padding:10px;">

    {% if error %}<div class="msgerr">{{ error }}</div><br>{% endif %}

    <form method="post" action="/search">
    <fieldset class="groupbox">
      <legend>&nbsp;Search By&nbsp;</legend>
      <table cellpadding="3" cellspacing="0" border="0">
        <tr>
          <td align="right" width="110">Member Number</td>
          <td><input type="text" name="member_id" id="{{ gid('txt') }}" size="16" maxlength="10"></td>
          <td rowspan="3" valign="top" style="padding-left:14px;">
            <input type="submit" id="{{ gid('btn') }}" value="{{ t.search_button }}"><br><br>
            <input type="button" id="{{ gid('btn') }}" value="Clear">
          </td>
        </tr>
        <tr>
          <td align="right">Last Name</td>
          <td><input type="text" name="last_name" id="{{ gid('txt') }}" size="16"></td>
        </tr>
        <tr>
          <td align="right">Tax ID</td>
          <td><input type="text" name="tax_id" id="{{ gid('txt') }}" size="16" maxlength="11"></td>
        </tr>
      </table>
    </fieldset>
    </form>

  </td></tr>
</table>

<br>
<table width="560" cellpadding="0" cellspacing="0" border="0">
  <tr><td class="etched" style="padding:6px;">
    Sample members: 10042, 10043, 10077. Member 10099 is restricted.
  </td></tr>
</table>
{% endblock %}
