{% extends "_chrome.html" %}
{% block status %}Complete all required fields{% endblock %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="600">
  <tr><td class="caption">{{ t.open_subaccount_link }}</td></tr>
  <tr><td class="raised" style="padding:10px;">

    {% if error %}<div class="msgerr">{{ error }}</div><br>{% endif %}

    <table cellpadding="3" cellspacing="0" border="0" width="100%">
      <tr>
        <td align="right" width="150">Member</td>
        <td>{{ member.member_id }} &nbsp;&mdash;&nbsp; {{ member.name }}</td>
      </tr>
    </table>

    <br>

    <form method="post" action="/subaccount/new">
    <input type="hidden" name="member_id" value="{{ member.member_id }}">
    <fieldset class="groupbox">
      <legend>&nbsp;New Account&nbsp;</legend>
      <table cellpadding="3" cellspacing="0" border="0">
        <tr>
          <td align="right" width="140">Account Type</td>
          <td>
            <select name="account_type" id="{{ gid('sel') }}">
              <option value="">&lt; select &gt;</option>
              {% for ty in types %}<option value="{{ ty }}">{{ ty }}</option>{% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td align="right">Account Nickname</td>
          <td><input type="text" name="nickname" id="{{ gid('txt') }}" size="24" maxlength="30"></td>
        </tr>
        <tr>
          <td align="right">Initial Deposit</td>
          <td>
            <input type="text" name="initial_deposit" id="{{ gid('txt') }}" size="12">
            &nbsp;<span style="color:#606060;">minimum $25.00</span>
          </td>
        </tr>
        <tr>
          <td align="right">Statement Cycle</td>
          <td>
            <select name="cycle" id="{{ gid('sel') }}">
              <option>Monthly</option>
              <option>Quarterly</option>
            </select>
          </td>
        </tr>
      </table>
    </fieldset>

    <br>
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        {# The irreversible control. The policy engine classifies it by its
           caption and refuses to let an unapproved capability activate it
           unattended. #}
        <td><input type="submit" id="{{ gid('btn') }}" value="{{ t.subaccount_submit }}"></td>
        <td style="padding-left:10px;">
          <a class="lnk" href="javascript:__doPostBack('ctl00$navMemberDetail','')">Cancel</a>
        </td>
      </tr>
    </table>
    </form>

  </td></tr>
</table>
{% endblock %}
