{% extends "_chrome.html" %}
{% block content %}
<table class="panel" cellpadding="4" cellspacing="0" width="560">
  <tr><td class="panelhdr" colspan="2">Sub-Account Opened</td></tr>
  <tr><td colspan="2">
    <div class="warn"><b>Confirmation</b> — the sub-account has been created.</div>
  </td></tr>
  <tr><td align="right" width="160"><font size="1">Reference Number</font></td>
      <td><b>{{ reference }}</b></td></tr>
  <tr><td align="right"><font size="1">Member</font></td>
      <td>{{ member.member_id }} &mdash; {{ member.name }}</td></tr>
  <tr><td align="right"><font size="1">Account Type</font></td>
      <td>{{ account_type }}</td></tr>
  <tr><td align="right"><font size="1">Nickname</font></td>
      <td>{{ nickname }}</td></tr>
  <tr><td align="right"><font size="1">Initial Deposit</font></td>
      <td>${{ initial_deposit }}</td></tr>
</table>
<table width="560" cellpadding="4"><tr><td>
  <a href="/member?id={{ member.member_id }}">Return to Member Detail</a>
</td></tr></table>
{% endblock %}
